.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 120px 0;
	height: 1px;
	width: 100vw;
  z-index: 99;
  margin-top: 12%;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
  display: flex;
  justify-content: space-between;
  
}

.progress-bar{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  
}
.circles{
  position: absolute !important;
  top: 70% !important;
  width: 60vw;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999999999 !important;
}
.yellow-circle{
  
  height: 15px !important;
  width: 15px !important;
  border-radius: 50% !important;
  background-color: white;
}
.yellow-circle1{
    background: linear-gradient(to left, #F2709C, #FF9472) !important;

}

@media screen and (max-width: 600px) {
    .progress{
        display: none;
    }
     
   }